body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: -webkit-linear-gradient(left,#29732e,#5ad985);
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.sidebar {
    width: 200px;
    background: -webkit-linear-gradient(left,#57e361,#5ad985);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 70px;
    overflow-y: auto;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    padding-top: 150px;
    padding-left: 10px;
}

.sidebar ul li {
    padding: 10px;
    align-items: center;
    
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-left: 220px;
    padding: 20px;
    font-family: mv boli;
    line-height: 22px;
    font-size: 20px;

}
img{
    width: 500px;
    padding-left: 750px;
}
